site_name: Tanelorn Chronicles Wiki
site_url: https://Sazkuash.github.io/wiki-tanelorn/
repo_url: https://github.com/Sazkuash/wiki-tanelorn

theme:
  name: material
  palette:
    scheme: slate
    primary: red
    accent: red
  features:
    - navigation.instant
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
  language: en
  icon:
    logo: material/sword-cross

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - awesome-pages

remote_name: origin
remote_branch: gh-pages

nav:
  - Home: index.md
  - Items: items/index.md
  - Monsters: monsters/index.md