site_name: Tanelorn Wiki
site_url: https://Sazkuash.github.io/wiki-tanelorn/
theme:
  name: material
  language: en
  palette:
    - scheme: slate
      primary: black
      accent: red
  features:
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight

extra_css:
  - stylesheets/custom.css

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Items: items/index.md
  - Monsters: monsters/index.md
