site_name: Tanelorn Chronicles

theme:
  name: material
  palette:
    scheme: slate
    primary: red
    accent: red
  features:
    - navigation.instant
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
  language: pt-BR
  icon:
    logo: material/sword-cross

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - awesome-pages

nav:
  - Home: index.md
  - Items: items/index.md
  - Monsters: monsters/index.md